body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #fff;
}

header {
  background-color: #e50914;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 50%;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px;
  margin-left: 10px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

search-bar button:hover {
  background-color: #f40612;
}

#clear-btn {
  padding: 10px;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#clear-btn:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movies-grid div {
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.movies-grid div img {
  width: 100%;
  border-radius: 4px;
}

.movie {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie img {
  width: 100%;
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  background-color: #141414;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: #fff;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.statistics {
  margin-top: 40px;
}

.statistics canvas {
  max-width: 600px;
  margin: 20px auto;
}

.episode-details {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  display: none;
  z-index: 1000;
  max-width: 300px;
}

footer {
  background-color: #e50914;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

